* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
    color: #ffffff;
}

window#waybar {
    background: #2b2a33;
}

label.module {
    padding: 20px 5 20 5;
}

.highlighted {
    color: pink;
}
