* {
    font-family: JetBrainsMono Nerd Font;
    font-size: 13px;
    min-height: 0;
    color: #cdd6f4;
}

window#waybar {
    background: #1e1e2e;
}

label.module {
    padding: 20px 5 20 5;
}

.highlighted {
    color: pink;
}
