* {
/*    font-family: JetBrainsMono Nerd Font; */
    font-size: 13px;
    min-height: 0;
    color: #8b4838;
}

window#waybar {
    background: #fdf7f4;
}

label.module {
    padding: 20px 5 20 5;
}

.highlighted {
    color: pink;
}
